@font-face {
    font-family: "Arima";
    src: url("./assets/fonts/arima-v7-latin-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url("./assets/fonts/palanquin-dark-v17-latin-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url("./assets/fonts/palanquin-dark-v17-latin-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2');
}



* {
    margin: 0;
    box-sizing: border-box;
}



body {
    padding-bottom: 88px;
}



html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(75, 169, 206, 0.747);
    height: 70px;
    padding: 32px max(50% - 720px, 120px);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
}

header img {
    width: 56px;
    height: 56px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-family: "Palanquin Dark";
    font-size: 15px;
    display: none;
}

.info-section {
    display: flex;
    align-items: flex-start;
    max-width: 370px;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5px;
}

.krakaow {
    color: rgba(75, 169, 206, 0.747);
    font-family: "Palanquin Dark";
    font-weight: 300;
    font-size: 20px;
}

.krakow-info h1 {
    color: #f6cb4f;
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.krakow-info p {
    color: #54370D;
    font-family: "Palanquin Dark";
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    color: #54370D;
    font-family: "Palanquin Dark";
    font-weight: 400;
    font-size: 10px;
    gap: 12px 20px;
}

.datum,
.lesezeit,
.aufrufe,
.geteilt {
    display: flex;
    align-items: center;
}

.datum img,
.lesezeit img,
.aufrufe img,
.geteilt img {
    width: 16px;
    height: 18px;
    margin-right: 6px;
    object-fit: contain;
}

.author-card {
    width: 340px;
    margin: 30px auto;
    background-color: #dce8e5;
    border-radius: 20px;
    margin-top: 30px;
    padding: 16px 8px 16px 8px;
    text-align: center;
    gap: 16px;
    align-self: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.author-card img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.author-card h2 {
    margin-top: 14px;
    font-family: "Arima";
    font-size: 22px;
    color: #54370D;
}

.author-job {
    font-family: "Palanquin Dark";
    font-size: 18px;
    color: #54370D;
    margin-top: 4px;
}

.author-text {
    margin-top: 16px;
    font-family: "Palanquin Dark";
    font-size: 10px;
    color: #54370D;
}

.reisebericht {
    width: 100%;
    max-width: 375px;
    margin: auto;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.reisebericht p {
    font-size: 12px;
    margin-bottom: 18px;
}

.reisebericht h2 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
}

.reisebild {
    display: flex;
    width: 100%;
    border-radius: 18px;
    margin-bottom: 20px;

}

.reisebild-one {
    height: 232px;
    width: 345px;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.08),
        0 16px 40px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-bottom: 15px;
}

.reisebild-two {
    display: flex;
    align-items: center;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.08),
        0 16px 40px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-bottom: 15px;
}

.reisebild-three {
    width: 200px;
    height: 150px;
    display: flex;
    margin-bottom: 15px;

    margin-top: 40px;
    margin-left: 50px;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.08),
        0 16px 40px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.reisebericht p {
    font-family: "Palanquin";
    font-size: 16px;
    color: #54370D;
    font-weight: 400;
    line-height: 120%;
}

.reisebericht h2 {
    font-family: "Arima";
    font-size: 20px;
    color: #54370D;
    font-weight: 600;
}

.share-section {
    margin-top: 40px;
    text-align: center;
}

.share-title {
    font-family: "Palanquin Dark";
    color: #54370D;
    font-size: 16px;
    margin-bottom: 20px;
}

#share-toggle {
    display: none;
}

.share-button {
    width: 140px;
    height: 48px;
    background: #59B28C;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin: 60px auto;

    transition: .3s;
}

.share-button img {
    width: 20px;
    height: 20px;
}

.share-button span {
    color: #F6CB4F;
    font-family: "Arima";
    font-size: 22px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 18px;

    margin-top: 15px;

    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;

    transition: .3s;
}

.social-icons a {
    font-family: "Arima";
}

.social-item {
    text-decoration: none;
    color: #84b259;
    font-weight: bold;
}

.social-icons img:hover {
    transform: scale(1.15);
}

#share-toggle:checked~.social-icons {
    opacity: 1;
    transform: translateY(0);
}

.share-section {
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.share-arrow {
    display: flex;
    position: absolute;
    left: 250px;
}

.share-arrow img {
    width: 30px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 88px;
    background-color: #f6cb4f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.icons a {
    width: 40px;
    height: 40px;
}

.icons img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
}

.footer-mob {
    width: 100%;

    min-height: 134px;
    margin: 0 auto;
    padding: 30px 24px;

    background-color: rgba(75, 169, 206, 0.747);
    color: #ffffff;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
}

.footer-mob p {
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-text p {
    font-size: 16px;
    line-height: 1.2;
}

.copyright-text {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.copyright-text img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.social-icons-one {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-icons-one img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.social-icons-one .youtube {
    width: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

    body {
        padding-bottom: 0;
    }

    header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 30px;
        padding-right: 30px;
        gap: 30px
    }

    header img {
        width: 60px;
        height: 60px;
    }

    /* header-nav {
        display: none;
    } */

    .header-nav a {
        text-decoration: none;
        color: white;
        font-family: "Palanquin Dark";
        font-size: 15px;
        display: none;
    }

    .top-content {
        width: 100%;
        max-width: 1180px;

        margin: 40px auto;

        padding-left: 40px;
        padding-right: 40px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        gap: 50px;
    }

    .info-section {
        width: 70%;
        max-width: none;
        padding: 0;
    }

    .krakaow {
        font-size: 26px;
    }

    .krakow-info h1 {
        font-size: 42px;
    }

    .krakow-info p {
        font-size: 18px;
    }

    .info {
        font-size: 14px;
        gap: 20px 30px;
    }

    .author-card {
        width: 280px;
        padding: 20px;
        flex-shrink: 0;
    }

    .author-card img {
        width: 100px;
        height: 100px;
    }

    .author-card h2 {
        font-size: 24px;
    }

    .author-job {
        font-size: 18px;
    }

    .author-text {
        font-size: 12px;
    }

    .reisebericht {

        width: 100%;
        max-width: 900px;

        margin: auto;

        padding: 40px;
    }

    .reisebericht h2 {
        font-size: 26px;
        margin-bottom: 20px;
        text-align: center;
    }

    .reisebericht p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .reisebild-one,
    .reisebild-two,
    .reisebild-three {

        display: block;

        width: 100%;
        max-width: 700px;

        height: auto;

        margin: auto 35px;

        padding: 0;
    }

    .reisebild-three {
        max-width: 500px;
    }

    .share-section {

        width: 100%;
        max-width: 900px;

        margin: 50px auto;

        text-align: center;
    }

    .share-title {
        font-size: 18px;
    }

    .share-button {
        margin: 35px auto;
    }

    .share-arrow {

        display: flex;
        justify-content: center;

        padding-left: 0;

        transform: translateX(-90px);
    }

    .share-arrow img {
        width: 35px;
    }

    .footer {
        display: none;
    }

    .footer-mob {

        width: 100%;

        padding: 30px 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-text {

        display: flex;
        flex-direction: row;

        gap: 40px;
    }

    .footer-text p {
        font-size: 14px;
    }

    .social-icons-one img {
        width: 22px;
        height: 22px;
    }

    .social-icons-one .youtube {
        width: 30px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {

    body {
        width: 100%;
        padding-bottom: 0;
    }

    header {
        width: 100%;
        height: 70px;
        padding: 0 40px;
        display: flex;
        align-items: center;
    }

    header img {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;

        margin-left: 35px;
        gap: 40px;
    }

    .header-nav a {
        text-decoration: none;
        color: white;
        font-family: "Palanquin Dark";
        font-size: 18px;
    }

    .top-content {
        width: 100%;
        max-width: 1280px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 50px;

        padding-left: 70px;
        padding-right: 70px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 65px;
    }

    .info-section {
        width: calc(100% - 370px);
        max-width: none;

        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .krakaow {
        font-size: 28px;
    }

    .krakow-info h1 {
        font-size: 50px;
    }

    .krakow-info p {
        font-size: 20px;
    }

    .info {
        margin-top: 25px;
        font-size: 15px;
        gap: 18px 30px;
    }

    .datum img,
    .lesezeit img,
    .aufrufe img,
    .geteilt img {
        width: 18px;
        height: 18px;
    }

    .author-card {
        width: 330px;
        padding: 30px 20px;
        flex-shrink: 0;
    }

    .author-card img {
        width: 120px;
        height: 120px;
    }

    .author-card h2 {
        margin-top: 12px;
        font-size: 28px;
    }

    .author-job {
        margin-top: 5px;
        font-size: 20px;
    }

    .author-text {
        margin-top: 14px;
        font-size: 14px;
    }

    .reisebericht {
        width: 100%;
        max-width: 1100px;

        margin-left: auto;
        margin-right: auto;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .reisebericht h2 {
        font-size: 30px;
        text-align: center;

        margin-bottom: 22px;
    }

    .reisebericht p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .reisebild-one {
        display: block;

        width: 100%;
        max-width: 800px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .reisebild-two {
        display: block;

        width: 100%;
        max-width: 750px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .reisebild-three {
        display: block;

        width: 100%;
        max-width: 650px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .share-section {
        width: 100%;
        max-width: 1100px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 55px;

        padding-left: 60px;
        padding-right: 60px;

        text-align: center;
    }

    .share-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .share-arrow {
        display: flex;
        justify-content: center;
        padding-left: 0;
        transform: translateX(-110px);
    }

    .share-arrow img {
        width: 40px;
    }

    .share-button {
        width: 140px;
        height: 48px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .share-button span {
        font-size: 22px;
    }

    .footer {
        display: none;
    }

    .footer-mob {
        width: 100%;
        min-height: 110px;

        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px;
        padding-bottom: 30px;

        align-items: center;
        justify-content: space-between;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 55px;
        flex-direction: row-reverse;
    }

    .footer-text p {
        font-size: 15px;
    }

    .copyright-text img {
        width: 18px;
        height: 18px;
    }

    .social-icons-one {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .social-icons-one img {
        width: 24px;
        height: 24px;
    }

    .social-icons-one .youtube {
        width: 32px;
    }

}

@media screen and (min-width: 1441px) {

    .top-content,
    .reisebericht,
    .share-section,
    .footer-mob {
        width: 100%;
        max-width: 1440px;

        margin-left: auto;
        margin-right: auto;
    }

    .header-content,
    .page-content,
    .footer-mob {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    body {
        width: 100%;
        padding-bottom: 0;
    }

    header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 30px;
        padding-right: 30px;
    }

    header img {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;

        margin-left: 35px;
        gap: 40px;
    }

    .header-nav a {
        text-decoration: none;
        color: white;
        font-family: "Palanquin Dark";
        font-size: 18px;
    }

    .top-content {
        width: 100%;
        max-width: 1280px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 50px;

        padding-left: 70px;
        padding-right: 70px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 65px;
    }

    .info-section {
        width: calc(100% - 370px);
        max-width: none;

        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .krakaow {
        font-size: 28px;
    }

    .krakow-info h1 {
        font-size: 50px;
    }

    .krakow-info p {
        font-size: 20px;
    }

    .info {
        margin-top: 25px;
        font-size: 15px;
        gap: 18px 30px;
    }

    .datum img,
    .lesezeit img,
    .aufrufe img,
    .geteilt img {
        width: 18px;
        height: 18px;
    }

    .author-card {
        width: 330px;
        padding: 30px 20px;
        flex-shrink: 0;
    }

    .author-card img {
        width: 120px;
        height: 120px;
    }

    .author-card h2 {
        margin-top: 12px;
        font-size: 28px;
    }

    .author-job {
        margin-top: 5px;
        font-size: 20px;
    }

    .author-text {
        margin-top: 14px;
        font-size: 14px;
    }

    .reisebericht {
        width: 100%;
        max-width: 1100px;

        margin-left: auto;
        margin-right: auto;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .reisebericht h2 {
        font-size: 30px;
        text-align: center;

        margin-bottom: 22px;
    }

    .reisebericht p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .reisebild-one {
        display: block;

        width: 100%;
        max-width: 800px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .reisebild-two {
        display: block;

        width: 100%;
        max-width: 750px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .reisebild-three {
        display: block;

        width: 100%;
        max-width: 650px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .share-section {
        width: 100%;
        max-width: 1100px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 55px;

        padding-left: 60px;
        padding-right: 60px;

        text-align: center;
    }

    .share-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .share-arrow {
        display: flex;
        justify-content: center;
        padding-left: 0;
        transform: translateX(-110px);
    }

    .share-arrow img {
        width: 40px;
    }

    .share-button {
        width: 140px;
        height: 48px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .share-button span {
        font-size: 22px;
    }

    .footer {
        display: none;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }

    .footer-text p {
        font-size: 18px;
    }

    .copyright-text img {
        width: 22px;
        height: 22px;
    }

    .social-icons-one {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .social-icons-one img {
        width: 30px;
        height: 30px;
    }

    .social-icons-one .youtube {
        width: 38px;
        height: auto;
    }
}