@font-face {
    font-family: "Arima";
    src: url("./assets/fonts/arima-v7-latin-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url("./assets/fonts/palanquin-dark-v17-latin-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url("./assets/fonts/palanquin-dark-v17-latin-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(75, 169, 206, 0.747);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {

    width: 56px;
    height: 56px;
}

.landing-page {
    height: 515px;
    background-image: url(./assets/img/blackground-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    padding-top: 121px;
    padding-left: 71px;
}



.circle {
    background-color: rgba(75, 169, 206, 0.747);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights {
    padding-top: 70px;
    padding-bottom: 32px;
    color: rgba(75, 169, 206, 0.747);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.highlights img {
    width: 40px;
    height: 40px;
    align-items: center;
}

.highlights h2 {
    font-family: "Arima";
    font-weight: 700;
    font-size: 40px;
}

.slider-a {
    background-image: .;
    width: 250px ;
    height: 533px;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 88px;
    background-color: rgba(75, 169, 206, 0.747);

    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.icons a {
    width: 40px;
    height: 40px;
}

.icons img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
}